<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/campo-texto.css">
    <link rel="stylesheet" href="../css/boton.css">
    <link rel="stylesheet" href="../css/login.css">

</head>
<body>
    <form action="" method="post" class="login">
        <div class="campo-texto">
            <input type="text" name="" id="username" required>
            <label for="">Usuario</label>
        </div>

        <div class="campo-texto">
            <input type="password" name="" id="password1" required>
            <label for="">Contraseña</label>
        </div>

        <div class="boton" id="botonEnviar">
            <span class="icon-"></span>
            <p>Ingresar</p>
        </div>

    </form>

    <script>
        

    </script>
    
</body>
</html>