<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../fuentes/style.css">
    <link rel="stylesheet" href="../css/popup.css">
    <link rel="stylesheet" href="../css/normalize.css">

</head>
<body>
    
    <div class="popup">
        <div class="popup-texto">
            <span class="icon-checkmark"></span>
            <p>Acción realizada</p>
        </div>
        <div class="popup-bar">
            <div class="progress-bar"></div>
        </div>
    </div>


</body>
</html>