.boton{
    width: 10rem;
    height: 2rem;
    color:var(--text-color1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--main-color5);
    overflow: hidden;
    position: relative;
    
}
.boton::after{
    content: '';
    position: absolute;
    width: 300%;
    height: 100%;
    background: -moz-linear-gradient(45deg, var(--main-color1) 50%,
    var(--main-color5) 50%);
    top: 0;
    left: -200%;
    z-index: 0;
    transition: all 1s ease;
}
.boton:hover::after{
    left: 0%;
}

.boton span{
 
    z-index: 2;
}

.boton p{
    font-size: 1.2rem;
    font-weight:bolder;
    z-index: 2 ;


}
.boton:hover p{
    color: var(--text-color2);
}